b {
    margin-right: 10px;
}

.highlight {
    pointer-events: none;
}

.outer-card {
    margin: 20px;
}

.inner-card {
    margin-bottom: 15px;
}

mat-card-title {
    color: #673AB7;
}

mat-panel-title {
    font-weight: bold;
}

.record-data {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0px;
    padding: 0px;
}

// Employee data
img {
  max-height: 150px;
  max-width: 150px;
  height: auto;
  width: auto;
  border-radius: 18px;
}

.employee-data {
    justify-content: space-between;
    margin: 16px;
    padding: 0px;
}
.employee-data li {
    display: block;
    text-align: left;
}

mat-card-content {
  text-align: center;
}

mat-card-content table {
  display: inline-block;
}


// Report
mat-form-field {
    width: 120px;
}


// Remarks
.remarks-field {
    width: 100%;
}

.remarks-field textarea {
    resize: none;
    height: 100px;
}


// Spinner
.spinner-container {
  margin: 3rem auto;
  width: 3rem;
}

// Disabled textbox
.mat-input-element:disabled {
  color: currentColor;
}
