<mat-toolbar color='primary'>
  <mat-icon aria-hidden="false" aria-label="home icon">bubble_chart</mat-icon>
  &nbsp;
  <h1>
    <a [routerLink]="['']">
      {{ title }}
    </a>
  </h1>

  <span class="expander"></span>

  <div *ngIf="authenticationService.isAuthenticated(); else isNotAuthenticated">
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>

    <button mat-raised-button [matMenuTriggerFor]="appMenu">
      <mat-icon>account_circle</mat-icon>
      {{ authenticationService.getCurrentUser().username }}
    </button>
  </div>
  <ng-template #isNotAuthenticated>
    <button mat-raised-button [routerLink]="['login']">Login</button>
  </ng-template>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>
