/* link */
a {
  color: white;
  text-decoration: none;
}

a:visited {
	color: white;
}

a:hover {
	color: white;
}

/* content container */
.content {
  padding: 1rem;
}

.expander {
  flex: 1 1 auto;
}
