/* Structure */
table {
	width: 100%;
}

.mat-form-field {
	font-size: 14px;
	width: 100%;
}

tr.salesmen-element-row:hover {
  background: #777;
}

tr.salesmen-element-row:active {
	background: #efefef;
}

 /* link */
a {
    color: white;
    text-decoration: none;
}

a:visited {
	color: white;
}

a:hover {
	color: white;
}
